@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

// font-family: "Dancing Script", cursive;

$headingcolors: #28282B;
$sectionbackgound: #F8FBFF;
$buttonaccent: #0066FF;
$white: #ffffff;
$off-white: #FAF9F6;
$black: #000000;
$matteblack: #28282B;
